---
---

@import "{{ site.theme }}";

body {
  color: #333;                  /* main text color */
  background-color: #f4f4f4;    /* page background color */
}

a {
  color: #d33682;               /* link text color */
}

header {
  border-bottom: 1px solid #ccc;  /* header underline color */
}
